@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
}

body {
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  background-color: #fff;
}

input {
  padding: 5px;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group:hover .group-hover\:text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.group.selected .group-\[\.selected\]\:block {
  display: block;
}

.group.selected .group-\[\.selected\]\:rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group.active .group-\[\.active\]\:bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.group.selected .group-\[\.selected\]\:bg-gray-950 {
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));
}

.group.active .group-\[\.active\]\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group.selected .group-\[\.selected\]\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #afa5a5;
  display: none;
}

/* Estilo para a trilha (parte de trás) da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.5;
  border-radius: 8px;
  padding-block: 2px;
  display: none;
}

/* Estilo para a alça (parte móvel) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #afa5a5;
  border-radius: 8px;
  display: none;
}

/* Estilo para a alça da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.loader {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
}
.loader img {
  background-color: transparent;
}

.loader:is(:hover, :focus) {
  transform: scale(1.2);
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

#toolbar {
  display: none !important;
}
